---
import {Clock} from './Clock.jsx' 
---


<div class="time">
  {Clock}
</div>

<script>
  // setInterval(function() {
  //   var date = new Date();
  //   var hours = date.getHours();
  //   var minutes = date.getMinutes();
  //   var seconds = date.getSeconds();
  //   var time = hours + ":" + minutes + ":" + seconds;
  //   document.getElementsByClassName("time")[0].innerHTML = time;
  // }, 1000);
  </script>
